{% extends "base.html" %}

{% block title %}Reset Password{% endblock %}

{% block content %}
    <div class="row text-center">
        <h1>Reset Password</h1>
        <br/>
        <p>输入旧密码？？？</p>
        {% if form.new_password1.help_text %}
            <div class="text-left">
                <p>{{ form.new_password1.help_text|safe }}</p>
            </div>
        {% endif %}
        <div class="m-auto">
            <form action="" method="post">
                {% csrf_token %}
                <div class="form-group">
                    <label class="col-md-5 control-label text-right">Email</label>
                    <div class="col-md-6 text-left">{{ form.email }}</div>
                </div>
                <input type="submit" value="Send email" class="btn btn-primary btn-lg"> </form>
        </div>
    </div>
{% endblock %}
