{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
<!--    <link rel="stylesheet" type="text/css" href="http://unpkg.com/iview/dist/styles/iview.css">-->
<!--    <script type="text/javascript" src="http://vuejs.org/js/vue.min.js"></script>-->
<!--    <script type="text/javascript" src="http://unpkg.com/iview/dist/iview.min.js"></script>-->
    <link rel="stylesheet" type="text/css" href="{% static 'polls/static/css/iview.css' %}">
    <script type="text/javascript" src="{% static 'polls/static/js/iview.js' %}"></script>
    <script type="text/javascript" src="{% static 'polls/static/js/vue.js' %}"></script>
</head>
<body>
{% block content %}
{% endblock %}
</body>
</html>