{% load static %}

<nav class="navbar navbar-expand-lg bg-light navbar-light">
    <a class="navbar-brand" href="{% url 'blog:blog' %}"><img width="50px" src="{% static 'image/Avatar.jpg' %}" /></a>
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" href="{% url 'blog:blog' %}">BLOG</a>
        </li>
    </ul>
    <ul class="navbar-nav ml-auto">
        {% if user.is_authenticated %}
            <li class="nav-item dropdown">
                <a class="nav-link" href="#" data-toggle="dropdown">{{ user.username }}</a>
                <div class="dropdown-menu" style="min-width: 4rem;max-width: 8rem">
                    <a class="dropdown-item" href="{% url 'account:my_info' %}">我的信息</a>
                    <a class="dropdown-item" href="{% url 'article:article_column' %}">后台管理</a>
                    <a class="dropdown-item" href="{% url 'account:password_change' %}">修改密码</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'account:logout' %}">LOGOUT</a>
            </li>
        {% else %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'account:login' %}">LOGIN</a>
            </li>
        {% endif %}
    </ul>
</nav>