{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href={% static 'polls/css/bootstrap.css' %}>
    <script type="text/javascript" src={% static 'polls/js/bootstrap.js' %}></script>
    <title>Title</title>
</head>
<body>
<div class="container">
    <div class="row">
        <h1 class="offset-2">{{ question.question_text }}</h1>
        <div class="col-8 offset-2" style="background-color:lavenderblush;">
            {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
            <form action="{% url 'polls:vote' question.id %}" method="post">
                {% csrf_token %}
                {% for choice in question.choice_set.all %}
                    <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}">
                    <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br>
                {% endfor %}
                <input type="submit" value="Vote">
            </form>
        </div>
    </div>
</div>
</body>
</html>