{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href={% static 'polls/css/bootstrap.css' %}>
    <script type="text/javascript" src={% static 'polls/js/bootstrap.js' %}></script>
    <title>Polls</title>
</head>
<body>
	<div class="container">
		<div class="row">
		<h2>栅格系统</h2>
		</div>
	</div>
    <div class="container">

    <div class="row">
        <div class="col-4" style="background-color:lavender;">.col-2</div>
        <div class="col-8" style="background-color:lavenderblush;">.col-6</div>
    </div>
</div>
</body>
</html>