{% extends 'base.html' %}

{% load static %}

{% block title %}新泽雪冬的Blog{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-xs-12 col-md-8">
            <ul>
                {% for article in articles %}
                    <li><a href={% url 'article' article.id %}>{{ article.title }}</a></li>
                {% endfor %}
            </ul>
        </div>
        <div class="col-xs-6 col-md-4">
            <img width="200px" src={% static 'blog/img/Avatar.jpg' %}>
        </div>
    </div>
{% endblock %}