<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>test</title>
		<link type="text/css" rel="stylesheet" href="css/bootstrap.css" />
		<script type="text/javascript" src="js/jquery-3.4.1.min.js"></script>
		<script type="text/javascript" src="js/bootstrap.bundle.js"></script>
		<script type="text/javascript" src="js/vue.js"></script>
		<script>
			var browsername = navigator.appCodeName;
			document.write(browsername)
		</script>
	</head>

	<body>
		<br />
		<div id="app-7">
			<input v-model="x" />
			<input v-model="y" />
			<br />
			<input v-model="ssum1" />
			<br />
			<input v-model="ssum2" />
			<br />
			<input v-model="ssum1" />
		</div>
		<br />
		<script>
			var app6 = new Vue({
				el: '#app-7',
				data: {
					x: '1',
					y: '2',
					ssum2: '1 2',
				},
				computed: {
					ssum1 (){
						console.log(this.x + this.y)
						return this.x + this.y
					},
				},
				watch: {
					x: function (value){
						this.ssum2 = value + ' ' + this.y
					},
				},
			})
		</script>
	</body>

</html>